@model IEnumerable<MVC_AjaxFunc.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Designation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<input type="text" id="name"/>
<input type="text" id="designation"/>
<input type="text" id="address"/>
<input type="text" id="salary"/>
<input type = "button" id="btn1" value = "Click Me!"/>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btn1").click(function () {
            $.ajax({
                type : "POST",
                url : "/Employee/AjaxEmployee",
                dataType : "json",
                 data: {a : $("#name").val() , b : $("#designation").val(), 
                 c: $("#address").val() , d: $("#salary").val()},
           
                success: function(response)
                {
                    alert("Helloo" + JSON.stringify(response));
                },
                error : function(response)
                {
                    alert(response.responseText);
                }
            
            });
        });
    });
</script>


